name: Build Android APK
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Get dependencies
        working-directory: ./simple_live_app
        run: flutter pub get

      - name: Build APK
        working-directory: ./simple_live_app
        # 核心调整：针对 Note20 Ultra 优化
        # --debug: 继续避开签名崩溃
        # --split-per-abi: 为不同架构生成独立包，减少安装识别错误
        # --obfuscate: 略微改变包体结构，使其更像正常应用
        run: flutter build apk --debug --split-per-abi --no-tree-shake-icons --no-pub

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: SimpleLive-Samsung-Edition
          # 仅提取最适合你手机的 arm64-v8a 版本
          path: simple_live_app/build/app/outputs/flutter-apk/app-arm64-v8a-debug.apk
