name: Build Android APK
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 关键步骤：强制指定 Java 11 环境，解决 Kotlin 转型报错
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Get dependencies
        working-directory: ./simple_live_app
        run: flutter pub get

      - name: Build APK
        working-directory: ./simple_live_app
        run: flutter build apk --release --no-tree-shake-icons

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: SimpleLive-APK
          path: simple_live_app/build/app/outputs/flutter-apk/app-release.apk
