name: Build Android APK
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Get dependencies
        working-directory: ./simple_live_app
        run: flutter pub get

      - name: Build APK
        working-directory: ./simple_live_app
        # 使用 debug 模式彻底绕过签名验证
        run: flutter build apk --debug --no-tree-shake-icons --no-pub

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: SimpleLive-APK
          # 路径必须对应 debug 文件名
          path: simple_live_app/build/app/outputs/flutter-apk/app-debug.apk

